<div class="news3 social">
    <h2>
        <span><img src="images/c.gif" alt=""/></span>
        News
        <i><img src="images/s.gif" alt=""/></i>
    </h2>
    <div class="news3-nav">
        <span>ALL</span>
        <span>WORLD</span>
        <span>TOPICS</span>
        <span>FAVORITES</span>
    </div>
    <div class="news3-div">
        <div class="news3-l" ui-sref="news2">
            <button class="news3-but">CITY NOTES</button>
            <h3>
                Munich Made the
                <p>Night City Illumination</p>
            </h3>
            <dl>
                <dt><img src="images/news3_4.png" alt=""/></dt>
                <dd>Mariya Willams</dd>
            </dl>
        </div>
        <div class="news3-r" ui-sref="news2">
            <button class="news3-but">SPACE</button>
            <h3>
                Munich Made the
                <p>Night City Illumination</p>
            </h3>
            <p class="news3-p">
                But I must explain to you howthis mistaken idea of denouncipleasure
            </p>
            <dl>
                <dt><img src="images/news3_8.png" alt=""/></dt>
                <dd style="color: #000;">Mariya Willams</dd>
            </dl>
        </div>
    </div>
    <div class="news3-div">
        <div class="news3-r" ui-sref="news2">
            <button class="news3-but">SPACE</button>
            <h3>
                Munich Made the
                <p>Night City Illumination</p>
            </h3>
            <p class="news3-p">
                But I must explain to you howthis mistaken idea of denouncipleasure
            </p>
            <dl>
                <dt><img src="images/news3_5.png" alt=""/></dt>
                <dd style="color: #000;">Mariya Willams</dd>
            </dl>
        </div>
        <div class="news3-l" ui-sref="news2">
            <button class="news3-but">CITY NOTES</button>
            <h3>
                Munich Made the
                <p>Night City Illumination</p>
            </h3>
            <dl>
                <dt><img src="images/news3_9.png" alt=""/></dt>
                <dd>Mariya Willams</dd>
            </dl>
        </div>

    </div>
    <div class="news3-div">
        <div class="news3-l" ui-sref="news2">
            <button class="news3-but">CITY NOTES</button>
            <h3>
                Munich Made the
                <p>Night City Illumination</p>
            </h3>
            <dl>
                <dt><img src="images/news3_6.png" alt=""/></dt>
                <dd>Mariya Willams</dd>
            </dl>
        </div>
        <div class="news3-r" ui-sref="news2">
            <button class="news3-but">SPACE</button>
            <h3>
                Munich Made the
                <p>Night City Illumination</p>
            </h3>
            <p class="news3-p" >
                But I must explain to you howthis mistaken idea of denouncipleasure
            </p>
            <dl>
                <dt><img src="images/news3_7.png" alt=""/></dt>
                <dd style="color: #000;">Mariya Willams</dd>
            </dl>
        </div>
    </div>
</div>
